### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [5]:
purchase_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56
2,2,Ithergue48,24,Male,92,Final Critic,4.88
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27
4,4,Iskosia90,23,Male,131,Fury,1.44

In [4]:
player_data = len(purchase_data["SN"].value_counts())
players_total = pd.DataFrame({"Total Players":[player_data]})
players_total

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [9]:
# Calculations for unique items
unique_items = len((purchase_data["Item ID"]).unique())
# average price of each items
average_price = (purchase_data["Price"]).mean()
#find number of purchases
total_purchases = (purchase_data["Purchase ID"]).count()
#calulate total revenue
total_revenue = (purchase_data["Price"]).sum()

# Create data frame with obtained values
purchase_summary_df = pd.DataFrame({"Number of Unique Items":[unique_items],
                           "Average Price":[average_price], 
                           "Number of Purchases": [total_purchases], 
                           "Total Revenue": [total_revenue]})

purchase_summary_df["Average Price"] = purchase_summary_df["Average Price"].map("${0:,.2f}".format)
purchase_summary_df["Total Revenue"] = purchase_summary_df["Total Revenue"].map("${0:,.2f}".format)
purchase_summary_df.head()

   Number of Unique Items Average Price  Number of Purchases Total Revenue
0                     179         $3.05                  780     $2,379.77

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [66]:
genderDemo_data = purchase_data.groupby(["Gender"]).nunique(["SN"]).sort_values(["SN"],ascending=False).
percentage_gender = genderDemo_data["SN"] / 576 * 100
percentage_gender
genderDemo_df = genderDemo_data.drop(columns=["Purchase ID","Age","Gender","Item ID","Item Name","Price"])
genderDemo_df.rename(columns={"SN":"Total Count"},inplace=True)
genderDemo_df["Percentage of Players"]= percentage_gender
genderDemo_df["Percentage of Players"] = genderDemo_df["Percentage of Players"].map("{0:,.2f}%".format)
genderDemo_df.index.name = None
genderDemo_df.head()

                       Total Count Percentage of Players
Male                           484                84.03%
Female                          81                14.06%
Other / Non-Disclosed           11                 1.91%

In [67]:
genderDemo_data

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price
Gender,,,,,,,
Male,652,484,39,1,178,178,144
Female,113,81,22,1,90,90,79
Other / Non-Disclosed,15,11,8,1,13,13,12


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [75]:
PurchaseAnalysis_data = purchase_data.groupby(["Gender"])
purchase_count = PurchaseAnalysis_data["Purchase ID"].count()
purchase_count
# Average purchase prices by gender
avg_price = PurchaseAnalysis_data["Price"].mean()

# Average purchase  by gender 
total_rev = PurchaseAnalysis_data["Price"].sum()

# Average purchase total by gender divivded by purchase count by unique shoppers
avg_purchase = total_rev/genderDemo_df["Total Count"]

# Create data frame with obtained values 
PurchaseAnalysis_df = pd.DataFrame({"Purchase Count": purchase_count, 
                                    "Average Purchase Price": avg_price,
                                    "Average Purchase Value":total_rev,
                                    "Avg Purchase Total per Person": avg_purchase})

PurchaseAnalysis_df.style.format({"Average Purchase Value":"${:,.2f}",
                                  "Average Purchase Price":"${:,.2f}",
                                  "Avg Purchase Total per Person":"${:,.2f}"})

## Age Demographics

In [87]:
# Establish bins for ages
age_bins = [0, 9.90, 14.90, 19.90, 24.90, 29.90, 34.90, 39.90, 99999]
group_names = ["<10", "10-14", "15-19", "20-24", "25-29", "30-34", "35-39", "40+"]

#Categorize the existing players using the age bins. Hint: use pd.cut()
purchase_data["Age Group"] = pd.cut(purchase_data["Age"],age_bins, labels=group_names)
purchase_age_data=purchase_data.groupby("Age Group")

#Calculate the numbers and percentages by age group
age_count = purchase_age_data["SN"].nunique()

# Calculate percentages by age category 
age_perc = (age_count/576) * 100

#Create a summary data frame to hold the results
age_dem_df = pd.DataFrame({"Total Count": age_count,"Percentage of Players": age_perc})
age_dem_df.index.name = None
# Optional: round the percentage column to two decimal points
age_dem_df=age_dem_df.style.format({"Percentage of Players":"{:,.2f}%"})

# Display Age Demographics Table
age_dem_df

In [89]:
purchase_age_data.head()

,Purchase ID,SN,Age,Gender,Item ID,Item Name,Price,Age Group
0,0,Lisim78,20,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,20-24
1,1,Lisovynya38,40,Male,143,Frenzied Scimitar,1.56,40+
2,2,Ithergue48,24,Male,92,Final Critic,4.88,20-24
3,3,Chamassasya86,24,Male,100,Blindscythe,3.27,20-24
4,4,Iskosia90,23,Male,131,Fury,1.44,20-24
5,5,Yalae81,22,Male,81,Dreamkiss,3.61,20-24
6,6,Itheria73,36,Male,169,"Interrogator, Blood Blade of the Queen",2.18,35-39
9,9,Chanosian48,35,Other / Non-Disclosed,136,Ghastly Adamantite Protector,3.58,35-39
14,14,Saesrideu94,35,Male,165,Bone Crushing Silver Skewer,4.86,35-39
19,19,Chamalo71,30,Male,89,"Blazefury, Protector of Delusions",4.64,30-34
22,22,Siarithria38,38,Other / Non-Disclosed,24,Warped Fetish,3.81,35-39
23,23,Eyrian71,40,Male,151,Severance,3.40,40+
24,24,Siala43,30,Male,132,Persuasion,3.19,30-34
25,25,Lisirra87,29,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,25-29
26,26,Lirtossa84,11,Male,71,Demise,1.61,10-14
27,27,Eusri44,7,Male,96,Blood-Forged Skeletal Spine,3.09,<10
30,30,Idai61,19,Male,140,Striker,2.94,15-19
31,31,Farusrian86,37,Male,179,"Wolf, Promise of the Moonwalker",4.48,35-39
32,32,Aeralria27,10,Male,133,Faith's Scimitar,4.09,10-14
33,33,Haillyrgue51,7,Male,44,Bonecarvin Battle Axe,2.38,<10
34,34,Sondim73,19,Male,160,Azurewrath,4.40,15-19
36,36,Idaisuir85,30,Male,76,Haunted Bronzed Bludgeon,3.15,30-34
37,37,Seuthep89,8,Male,73,Ritual Mace,2.05,<10
38,38,Reulae52,10,Female,116,Renewed Skeletal Katana,4.18,10-14
42,42,Aidaillodeu39,18,Male,72,Winter's Bite,3.77,15-19
46,46,Yasrisu92,27,Male,102,Avenger,3.44,25-29
49,49,Iaralrgue74,33,Male,110,Suspension,1.44,30-34
53,53,Ilosianya35,32,Male,176,Relentless Iron Skewer,2.84,30-34
54,54,Zhisrisu83,10,Male,25,Hero Cane,4.35,10-14
55,55,Phaelap26,25,Female,84,Arcane Gem,3.79,25-29
56,56,Raesty92,12,Male,108,"Extraction, Quickblade Of Trembling Hands",3.53,10-14
59,59,Yaliru88,19,Male,105,Hailstorm Shadowsteel Scythe,3.03,15-19
61,61,Jiskimya77,17,Male,178,"Oathbreaker, Last Hope of the Breaking Storm",4.23,15-19
65,65,Chamirraya83,25,Male,34,Retribution Axe,2.22,25-29
70,70,Pheodai94,29,Male,143,Frenzied Scimitar,1.56,25-29
78,78,Haillyrgue51,7,Male,50,Dawn,4.60,<10
81,81,Heudai45,8,Female,174,Primitive Blade,3.47,<10
156,156,Eyrian71,40,Male,117,"Heartstriker, Legacy of the Light",1.79,40+
220,220,Jiskjask85,40,Male,46,Hopeless Ebon Dualblade,1.33,40+
248,248,Isursuir31,44,Male,137,"Aetherius, Boon of the Blessed",3.39,40+

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [92]:
#count purchases by age group
purchase_count = purchase_age_data["Purchase ID"].count()
#purchase_count
# average purchase price by age group 
avg_price_age = purchase_age_data["Price"].mean()

#total purchase by age group 
total_purchase_age = purchase_age_data["Price"].sum()

SN_Unique = purchase_age_data["SN"].nunique().count()

# average purchase per person in age group 
avg_purchase_SN = total_purchase_age/SN_Unique

# Create data frame with obtained values
age_purchase_df = pd.DataFrame({"Purchase Count": purchase_count,
                                 "Average Purchase Price": avg_price_age,
                                 "Total Purchase Value":total_purchase_age,
                                 "Average Purchase Total per Person": avg_purchase_age)

# Format the data frame with no index name in the corner
age_purchase_df.index.name = None

# Format with currency style
age_purchase_df.style.format({"Average Purchase Price":"${:,.2f}",
                               "Total Purchase Value":"${:,.2f}",
                               "Average Purchase Total per Person":"${:,.2f}"})

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [97]:
# Group by screen names
groupBy_SN = purchase_data.groupby("SN")

#total purchases by SN
purchase_count_SN = groupBy_SN["Purchase ID"].count()

#verage purchase by SN 
avg_price_SN = groupBy_SN["Price"].mean()

# total purchases by SN 
total_rev_SN = groupBy_SN["Price"].sum()


# Create data frame with obtained values
top_spenders = pd.DataFrame({"Purchase Count": purchase_count_SN,
                             "Average Purchase Price": avg_price_SN,
                             "Total Purchase Value":total_rev_SN})

# Sort in descending order to obtain top 5 spender names 
top_spenders = top_spenders.sort_values(["Total Purchase Value"], ascending=False).head(5)

# Format with currency style
top_spenders=top_spenders.style.format({"Average Purchase Total":"${:,.2f}",
                                 "Average Purchase Price":"${:,.2f}", 
                                 "Total Purchase Value":"${:,.2f}"})
top_spenders

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [104]:
# Create new data frame with items related information 
popularItems_data = purchase_data[["Item ID", "Item Name", "Price"]]
popularItems_data

# Group the item data by item id and item name 
popularItems_data = popularItems_data.groupby(["Item ID","Item Name"])

# Count the number of times an item has been purchased 
item_count = popularItems_data["Price"].count()

# Calcualte the purchase value per item 
item_rev = (popularItems_data["Price"].sum()) 

# Find individual item price
item_price = item_rev/item_count

# Create data frame with obtained values
popularItems_df = pd.DataFrame({"Purchase Count": item_count, 
                                   "Item Price": item_price,
                                   "Total Purchase Value":item_rev})
popularItems_df = popularItems_df.sort_values(["Purchase Count"], ascending=False).head(10)

# Format with currency style
popularItems_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [109]:
profitableItems_df = popularItems_df.sort_values(["Total Purchase Value"], ascending=False).head(10)

profitableItems_df.style.format({"Item Price":"${:,.2f}",
                                "Total Purchase Value":"${:,.2f}"})